.realBody {
    width: 200px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.buttn {
    display:inline-block;
    background-color: blue;
    color: black;
    background: transparent;
    border: 2px solid #0099cc;
    border-radius: 6px;
    transition-duration: 0.4s;
    padding: 3px;
    margin: 3px;
    text-align: center;
}

.buttn:hover{
    background-color: #0099cc;
    color: white;
}

.buttn:active{
    background-color:#0099cc;
    box-shadow: 0 3px #666666;
    transform: translateY(-2px);

}

h1{
    text-align: center;
}

.buttonDiv{
    text-align: center;
}

/* The alert message box */
.alert {
    visibility: hidden;
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }

.alert .showGood {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

  /* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: rgb(33, 201, 27);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -30px;
    margin-bottom: 96px
  }
  
  /* Popup arrow */
  /*.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }*/
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  